.infoFoto{
	width: 100%;
	height: 300px;
}
.infoFoto img{
	width: inherit;
	height: inherit;
	position: relative;
	float: left;
}	
.infoTitleImg{
	width: auto;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	position: relative;
	float:left;
	margin-top: -30px;
	margin-left: 15px;
	color: white;
	text-transform: uppercase;
	font-weight: bolder;
}
.infoParCon{
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}
.viewportData{
	width: calc(100% - 80px);
	height: 100%;
	margin: auto;
	position: relative;
	float: left;
	margin-left: 80px;
}
.viewportData2{
	width: calc(100% - 10px);
	height: 100%;
	margin: auto;
	position: relative;
	float: left;
	margin-left: 10px;
	overflow-y:scroll; 
}
.titleDatosGen{
	text-align: left;
	padding-left: 20px;
	font-weight: bolder;
	color: black;
	font-size: 20px;
	margin:10px 0px;
}
.itemViewPort{
	width: 95%;
	height: auto;
	margin-top: 20px;
	/*background-color: blue;*/
	position: relative;
	float: left;
	margin-left: 80px;
}
.itemViewPort2{
	width: 95%;
	height: auto;
	margin-top: 20px;
	/*background-color: blue;*/
	position: relative;
	float: left;
	margin-left: 20px;
}
.SecondTitleDetail{
	text-transform: uppercase;
	font-weight: bolder;
}
.viewDespInfoParque{
	width: 95%;
	height: auto;
	text-align: justify;
	padding-left: auto;
	font-weight: lighter;
	/*background-color: red;*/
}
.titleDescParque{
	font-size: 20px;
	color:#221810;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	margin: 0px;
	margin-top: 15px;
	padding-left: 10px;
}
.descParqueActual{
	margin: 0px;
	margin-top:20px;
	font-size: 14px;
	color:#221810;
	font-weight: lighter;
	padding-right: 20px;
	padding-left: 20px;
}
.itemSInfo{
	width: 30px;
	height: 30px;
	position: relative;
	float: left;
}
.itemInfo1{
	background:url(../img/Small/datasheet/mountains.png);
	background-size: 100% 100%;
}
.itemInfo2{
	background:url(../img/Small/datasheet/ext.png);
	background-size: 100% 100%;
}
.itemInfo3{
	background:url(../img/Small/datasheet/temp.png);
	background-size: 100% 100%;
}
.itemInfo4{
	background:url(../img/Small/datasheet/fecha.png);
	background-size: 100% 100%;
}
.txtitleUP{
	width: calc(100% - 65px);
	line-height: 20px;
	color:#221810;
	font-size: 18px;
	text-align: left;
	height: 20px;
	text-overflow:ellipsis;
	position: relative;
	float:left;
	margin: 0px;
	margin-left: 10px;
	margin-top: -7px;
}
.actualText{
	width: calc(100% - 65px);
	line-height: 20px;
	color:#221810;
	font-size: 18px;
	text-align: left;
	height: auto;
	text-overflow:ellipsis;
	position: relative;
	float: left;
	margin: 0px;
	margin-left: 10px;
}
.actualText2{
	width: calc(100% - 5px);
	line-height: 20px;
	color:#221810;
	font-size: 18px;
	text-align: left;
	height: auto;
	text-overflow:ellipsis;
	position: relative;
	float: left;
	margin: 0px;
	margin-left: 10px;
}
.down-contentMap{
	width: 100%;
	height: calc(100%  - 80px);
}
.conteinerMap{
	width: 100%;
	height: 100%;
}
.imgReturnUp{
	background: url("../img/Small/backArrow.png") no-repeat center left;
	background-size: 100% 100%;
	width: 17px;
	height: 32px;
	position: relative;
	float: left;
	margin-left: 10px;
	margin-top: 24px;
}
/* iphone 5 */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
	.infoFoto{ height: 150px; }
	.infoTitleImg{ font-size: 12px; }
	.infoParCon{ height: 100% }
	.viewportData{ width: 90%; position: static; float:none; margin-left: 20px;}
	.viewDespInfoParque{ width: 100%;position: relative; float:left; }
	.imgReturnUp{	margin-top: 30px;}
	.viewportData p{ font-size: 12px;}  
	.itemViewPort{margin-top: 13px;}
}
/* iphone 4 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait){
	.infoFoto{ height: 150px; }
	.infoTitleImg{ font-size: 12px; }
	.infoParCon{ height: 100% }
	.viewportData{ 	width: 90%; position: static; float: none; }  
	.viewDespInfoParque{ width: 100%; position: relative; float: left; }
	.imgReturnUp{	margin-top: 30px;}
	.viewportData p{ font-size: 12px;}  
	.itemViewPort{margin-top: 13px;}
}