#home{
	width: 100%;
	height: 100%;
}
#content{
	width: 100%;
	height: 100%;
}
#down-content{
	width: 100%;
	/*height: calc( 100% - 120px );
	height: 100%;*/
	height: auto;
}
#left-bar{
	height: 100%;
}
#right-bar{
	height: 100%;
}
.animate-show {
    width: 500px;
    height: inherit;
    /*background-color: #195617;*/
    background: rgba(25,86,23,1);
	background: -moz-linear-gradient(45deg, rgba(25,86,23,1) 0%, rgba(27,99,24,1) 50%, rgba(27,99,24,1) 51%, rgba(35,122,32,1) 71%, rgba(32,133,28,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(25,86,23,1)), color-stop(50%, rgba(27,99,24,1)), color-stop(51%, rgba(27,99,24,1)), color-stop(71%, rgba(35,122,32,1)), color-stop(100%, rgba(32,133,28,1)));
	background: -webkit-linear-gradient(45deg, rgba(25,86,23,1) 0%, rgba(27,99,24,1) 50%, rgba(27,99,24,1) 51%, rgba(35,122,32,1) 71%, rgba(32,133,28,1) 100%);
	background: -o-linear-gradient(45deg, rgba(25,86,23,1) 0%, rgba(27,99,24,1) 50%, rgba(27,99,24,1) 51%, rgba(35,122,32,1) 71%, rgba(32,133,28,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(25,86,23,1) 0%, rgba(27,99,24,1) 50%, rgba(27,99,24,1) 51%, rgba(35,122,32,1) 71%, rgba(32,133,28,1) 100%);
	background: linear-gradient(45deg, rgba(25,86,23,1) 0%, rgba(27,99,24,1) 50%, rgba(27,99,24,1) 51%, rgba(35,122,32,1) 71%, rgba(32,133,28,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#195617', endColorstr='#20851c', GradientType=1 );
    /*background: url(../img/Big/greenLeftBar.jpg);*/
	position: absolute;
	z-index: 2;
}
.animate-showR {
    width: 500px;
    height: inherit;
    /*background-color: #195617;*/
    background: rgba(25,86,23,1);
	background: -moz-linear-gradient(45deg, rgba(25,86,23,1) 0%, rgba(27,99,24,1) 50%, rgba(27,99,24,1) 51%, rgba(35,122,32,1) 71%, rgba(32,133,28,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(25,86,23,1)), color-stop(50%, rgba(27,99,24,1)), color-stop(51%, rgba(27,99,24,1)), color-stop(71%, rgba(35,122,32,1)), color-stop(100%, rgba(32,133,28,1)));
	background: -webkit-linear-gradient(45deg, rgba(25,86,23,1) 0%, rgba(27,99,24,1) 50%, rgba(27,99,24,1) 51%, rgba(35,122,32,1) 71%, rgba(32,133,28,1) 100%);
	background: -o-linear-gradient(45deg, rgba(25,86,23,1) 0%, rgba(27,99,24,1) 50%, rgba(27,99,24,1) 51%, rgba(35,122,32,1) 71%, rgba(32,133,28,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(25,86,23,1) 0%, rgba(27,99,24,1) 50%, rgba(27,99,24,1) 51%, rgba(35,122,32,1) 71%, rgba(32,133,28,1) 100%);
	background: linear-gradient(45deg, rgba(25,86,23,1) 0%, rgba(27,99,24,1) 50%, rgba(27,99,24,1) 51%, rgba(35,122,32,1) 71%, rgba(32,133,28,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#195617', endColorstr='#20851c', GradientType=1 );
    /*background: url(../img/Big/greenLeftBar.jpg);*/
	/*position: relative;
	float:right;*/
	position: absolute;
	right: 0px;
	z-index: 5;
}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
	/* -webkit-transition:0.5s linear all;
	transition:0.5s linear all;
	remember to add this */
	display:block!important;
	opacity:1;
}
.animate-show.ng-hide {
  opacity:0;
}
.animate-right-bar{
	width: 100%;
	height: 100%;
	position: relative;
	float: left;
	background-color: #d2d5d1;
}
#conteiner{
	width: 100%;
	height:auto;
	position: absolute;
}
.innerConteiner{
	margin-top: 15px;
	width: 100%;
	height: auto;
	margin-left: auto;
    margin-right: auto;
}
.regionGallery{
	width: 30%;
	height: 200px;
	position: relative;
	float:left;
	margin: 10px 0px 10px 10px;
	overflow: hidden;
}
.galleryItemImage{
	width: 100%;
	height: calc(100% - 50px);
	position: relative;
	float: left;
	background-color: blue;
	/*background:url(../img/Big/TMPimgagal.jpg);*/
	background-size: 100% 100%;
}
.galleryItemImage img{
	width: 100%;
	height: 100%;
}
.gallerySmallTitlte{
	width: 100%;
	height: 50px;
	background-color: #71a733;
	color: white;
	font-size: 14px;
	position: relative;
	float: left;
	text-transform: uppercase;
	line-height: 50px;
}
.regionListParque{
	width: 100%;
	height: 120px;
	position: relative;
	float:left;
	overflow: hidden;
}
.ParquesUpTitlte{
	width: 100%;
	height: 80px;
	color: white;
	background: #598629; /* Old browsers */
	background: -moz-linear-gradient(45deg, #598629 0%, #206d1c 50%, #206d1c 51%, #194210 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#598629), color-stop(50%,#206d1c), color-stop(51%,#206d1c), color-stop(100%,#194210)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #598629 0%,#206d1c 50%,#206d1c 51%,#194210 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #598629 0%,#206d1c 50%,#206d1c 51%,#194210 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #598629 0%,#206d1c 50%,#206d1c 51%,#194210 100%); /* IE10+ */
	background: linear-gradient(45deg, #598629 0%,#206d1c 50%,#206d1c 51%,#194210 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#598629', endColorstr='#194210',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.ParquesUpTitlte p{
	height: 80px;
	width: 100%;
	text-align: center;
	line-height: 80px;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	margin: 0px;
	padding-left: 55px;
}
.ParquesUpTitlte span{
	background: url("../img/Small/backArrow.png") no-repeat center left;
	background-size: 100% 100%;
	width: 17px;
	height: 32px;
	position: relative;
	float: left;
	margin-left: 10px;
	margin-top: 24px;
}
.odd{
	background-color: #d2d5d1;
}
.even{
	background-color: #ececec;
}
.gallergListImg{
	position: relative;
	float: left;
	margin-top: 12px;
	margin-left: 15px;
	width: 95px;
	height: 95px;
	border: 3px;
	border-style: solid;
	border-color: white;
}
.gallergListImg img{
	width: 100%;
	height: 100%;
}
.gallergListContent{
	position: relative;
	float: left;
	width: calc(100% - 220px);
	height: 120px;
}
.galleryListTitle{
	margin: 0px;
	margin-left:10px;
	margin-top: 20px;
	text-align: left;
	line-height: 30px;
	font-size: 18px;
	color:black;
}
.galleryListDes{
	margin: 0px;
	margin-left:10px;
	margin-top: 5px;
	text-align: left;
	line-height: 30px;
	font-size: 18px;
	color:black;
}
.listRightArrow{
	position: relative;
	float: right;
	background:url(../img/Small/rightArrow.png);
	background-size: 100% 100%;
	width: 26px;
	height: 41px;
	margin-top: 30px;
	margin-right: 15px;
	z-index: 2;
}
.PD-upimga{
	width: 100%;
	height: 50%;
	/*background: url(../img/Small/mainDetailParque.jpg);
	background-size: 100% 100%;*/
}
.PD-upimga img{
	width: 100%;
	height: 100%;
}
.PD-downmap{
	width: 100%;
	height: 50%;
	/*background: url(../img/Small/mapaDetailparque.jpg);
	background-size: 100% 100%;*/
}
.PD-downmap img{
	height: 100%;
	width: 100%;
}
.tamplate{
	width: 100%;
	height: 100%;
}
/* iphone 5 */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
	/* STYLES GO HERE */
	#left-bar{}
	.animate-show { width: 200px;    /*background: url(../img/Small/greenLeftBar.jpg);*/}
	.animate-showR { width: 200px;    /*background: url(../img/Small/greenLeftBar.jpg);*/}
	#right-bar{ }
	#down-content{/*height: calc( 100% - 80px );*/ }
	.regionGallery{	width: 44%;height: 135px; }
	.gallerySmallTitlte{font-size: 12px; height: 30px; line-height: 30px;}
	
	.regionListParque{ height: 80px; }

	.ParquesUpTitlte{ height: 60px; }

	.ParquesUpTitlte p{ height: 60px;line-height: 60px;font-size: 20px; }
	.ParquesUpTitlte span{ margin-top: 14px; }
	.gallergListImg{ width: 50px;height: 50px; }
	.gallergListContent{ height: 80px;width: calc(100% - 120px);}
	.galleryListTitle{ margin-top: 15px; }
	.galleryListTitle,.galleryListDes{line-height: 20px;font-size: 12px;}
	.listRightArrow{margin-top: 13px;}
	.PD-downmap{ height: 50%;}
	.galleryItemImage{ height: calc(100% - 30px);}
}
/* iphone 4 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait){
	/* STYLES GO HERE */
	#left-bar{}
	.animate-show { width: 200px;    /*background: url(../img/Small/greenLeftBar.jpg);*/}
	.animate-showR { width: 200px;    /*background: url(../img/Small/greenLeftBar.jpg);*/}
	#right-bar{ }
	#down-content{ /*height: calc( 100% - 80px ); */}
	.regionGallery{	width: 43%;height: 135px; }
	.gallerySmallTitlte{font-size: 12px; height: 30px; line-height: 30px;}
	.regionListParque{ height: 80px; }

	.ParquesUpTitlte{ height: 60px; }

	.ParquesUpTitlte p{ height: 60px;line-height: 60px;font-size: 20px; }
	.ParquesUpTitlte span{ margin-top: 14px; }
	.gallergListImg{ width: 50px;height: 50px; }
	.gallergListContent{ height: 80px;width: calc(100% - 120px);}
	.galleryListTitle{ margin-top: 15px; }
	.galleryListTitle,.galleryListDes{line-height: 20px;font-size: 12px;}
	.listRightArrow{margin-top: 13px;}
	.PD-downmap{ height: 50%}
	.galleryItemImage{ height: calc(100% - 30px);}
}