<div id="home" ng-controller="galeriaController as App">
<!--HOME QUE LE DICEN
<a href="#gallery" class="btn btn-success btn-lg">gallery</a>-->
	<div id="content" >
		<div id="upMenu">
			<div id="btnUp">
				<div class="imgBtnUp" ng-click="App.animateLeftBar()"></div>
			</div>
			<div id="areaUp">
				<!--<a href="#gallery" class="btn btn-success btn-lg">gallery</a>-->
				<div class="upSecondPart">
					<div class="logo"></div>
					<span class="mainTitle">Parques Nacionales Naturales de Colombia</span>
				</div>
				<div class="imgBtnPlus" ng-click="App.animateRightBar()"></div>
			</div>		
			<!--<button ng-click="App.animateLeftBar()">Show left bar</button>-->
		</div>
		<div id="down-content" >
			<div id="left-bar" class="animate-show" ng-show="isHidden" >
				<div ng-include="'views/lateralMenu.html'" class="tamplate">
				</div>
			</div>
			<div id="right-bar" class="animate-showR" ng-show="isHiddenR">
				<div ng-include="'views/lateralMenuR.html'" class="tamplate">
				</div>
			</div>
			<!--  Region de regiones -->
			<div id="conteiner">
				<!--<img src="./img/galeria.jpg" style="width:100%;height:100%;"/>-->

				<div class="filaGaleria" ng-repeat="item in galerias.parques">
					<div class="galeriaThumbImg" ng-repeat="item2 in galerias.parques[$index].galeria">
						<img ng-src="{{item2.img}}" alt="thumb" />
						<div ng-class="{galeriaGreenTitle:$first}" ng-show="$first">{{item.name}}</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>