<div id="lateralMenuR">
	<!--Yo sou un lateral Menu
	<a href >Este es un Link</a>-->
	<a href="#detailParque">
		<div class="op1">
			<div class="listImgMenu infoop"></div>
			<div class="textOpMenu">Info</div>
		</div>
	</a>
	<a href="#detailparqueMap">
		<div class="op1">
			<div class="listImgMenu mapapop"></div>
			<div class="textOpMenu">Mapa</div>
		</div>
	</a>
	<a href="#misfotos">
		<div class="op1">
			<div class="listImgMenu turismoop"></div>
			<div class="textOpMenu">Turismo</div>
		</div>
	</a>
	<a href="#galeria">
		<div class="op1">
			<div class="listImgMenu galeriapop"></div>
			<div class="textOpMenu">Galeria</div>
		</div>
	</a>
</div>