<div id="lateralMenuR">
	<!--Yo sou un lateral Menu
	<a href >Este es un Link</a>-->
	<a href="#detailParque">
		<div class="op1">
			<div class="listImgMenu infoop"></div>
			<div class="textOpMenu">Info</div>
		</div>
	</a>
	<a href="#detailparqueMap">
		<div class="op1">
			<div class="listImgMenu mapapop"></div>
			<div class="textOpMenu">Mapa</div>
		</div>
	</a>
	<a href="#detailparqueDatosGen">
		<div class="op1">
			<div class="listImgMenu datGen"></div>
			<div class="textOpMenu">Datos Generales</div>
		</div>
	</a>
	<a href="#detailparqueServices">
		<div class="op1">
			<div class="listImgMenu services"></div>
			<div class="textOpMenu">Servicios</div>
		</div>
	</a>
	<a href="#detailparqueEco">
		<div class="op1">
			<div class="listImgMenu turismoop"></div>
			<div class="textOpMenu">Ecoturismo</div>
		</div>
	</a>
	<a href="#galeria">
		<div class="op1">
			<div class="listImgMenu galeriapop"></div>
			<div class="textOpMenu">Galeria</div>
		</div>
	</a>
</div>